header{
    background-color: #FF9E9E
}

.cabeçalho{
    height: 250px;
    align-items: center;
}

.imagem-cabeçalho-1{
    height: 170px;
    left: 0px;
    position: absolute;
    width: 300px;
    top: 17px;
}

.imagem-cabeçalho-2{
    height: 170px;
   justify-content: space-around;
   left: 1140px;
   position: absolute;
    width: 300px;
    top: 17px;
}

.titulo-cabeçalho{
    font-size: 48px;
    font-family: 'Bree Serif';
    text-align: center;
    display: flex;
    color:#FF0101   ;
    justify-content: center;
    position: absolute;
    width: 796px;
    height: 65px;
    left: 322px;
    top: 69px;
}