*{
    margin: 0%;
    padding: 0%;
    }

header{
    height: 250px;
    align-items: center;
    margin: 0px;
    padding: 0px;
    background-color: #FF9E9E;
    display: flex;
}

.imagem-cabeçalho-1{
    height: 170px;
    left: -70px;
    position: absolute;
    width: 300px;
    top: 17px;
}

.imagem-cabeçalho-2{
    height: 170px;
   justify-content: space-around;
   left: 1110px;
   position: absolute;
    width: 300px;
    top: 17px;
}

.titulo-cabeçalho{
    font-size: 48px;
    font-family: 'Bree Serif';
    font-style: normal;
    line-height: 65px;
    font-weight: 400;
    text-align: center;
    display: flex;
    color:#FF0101   ;
    justify-content: center;
    position: absolute;
    width: 796px;
    height: 65px;
    left: 322px;
    top: 69px;
}

body{
    background-color: #FFEBEB;
}

.imagem-div-titulo{
    padding: 30px;
    align-items: center;
}

.texto-paragrafo1{
    justify-content:justify;
    padding:20px;

}