header{
    background-color: #FF9E9E
}

.cabeçalho{
    height: 250px;
    align-items: center;
}

.imagem-cabeçalho-1{
    height: 200px;
}

.imagem-cabeçalho-2{
    height: 200px;
   justify-content: space-around;
}

.titulo-cabeçalho{
    font-size: 48px;
    font-family: 'Bree Serif';
    color:#FF0101   ;
    justify-content: center;
}